.fontawesome-icons .the-icon svg{
    font-size:24px
}

.dataTables_wrapper {
    font-family: "Times Roman";
    padding:8px 8px;
    font-size:13px;
    position: relative;
    clear: both;
    *zoom: 1;
    zoom: 1;
}