table.dataTable td{
    padding:4px 4px;
}

.fontawesome-icons .the-icon svg{
    font-size:13px
}

.dataTables_wrapper {
    font-family: "Times Roman";
    font-size:13px;
    position: relative;
    clear: both;
    *zoom: 1;
    zoom: 1;
}