table.dataTable td{
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 0;
    padding-right: 1;
}

.page-item.active .page-link {
    background-color: #198754 !important;
    border: 1px black;
    border-radius: 5px 5px 5px 5px;
        -moz-border-radius: 3px 3px 3px 3px;
        -webkit-border-radius: 3px 3px 3px 3px;
        -webkit-box-shadow: inset 13px 14px 8px -8px rgba(148, 148, 148, 0.56);
        -moz-box-shadow: inset 13px 14px 8px -8px rgba(148, 148, 148, 0.56);
        box-shadow: inset 13px 14px 8px -8px rgba(148, 148, 148, 0.56);
    font: bold;
}

.paginate_button:hover{
  color: #ffffff !important;
  background: none;
  color: black!important;
}  

.page-link {
    color: black !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    margin-left: 0px;
    margin-right: 0px;
    display: inline;
    border: 0px;
}

.dataTables_wrapper .dataTables_length select {
    padding: 10px;
    font-size: 14px;
    border: none;
}

.dataTables_wrapper {
    font-family: "Times Roman";
    font-size:14px;
    position: relative;
    clear: both;
    *zoom: 0;
    zoom: 0;
}

.btn-size {
    --bs-btn-padding-y: .25rem;
    --bs-btn-padding-x: .5rem;
    --bs-btn-font-size: .65rem;
}